.product-container{
    display: flex;
    justify-content: space-between;
}
.text-container, .img-container{
    width: 50%;
    align-items: center;

}
.img-container img{
    width: 100%;
    border-radius: 20px;
}
.reviews-section{
    width: 100%;
    align-items: center;
    justify-content: center;
}